{% extends "base.html" %}

{% block title %}

    <h4>И на Марсе будут яблони цвести!</h4>

{% endblock %}

{% block content %}

    <title>{{ listik['title']}} </title>
    <div>Фамилия: {{ listik['surname']}} </div>
    <div>Имя: {{ listik['name']}} </div>
    <div>Образование: {{ listik['education']}} </div>
    <div>Фамилия: {{ listik['profession']}} </div>
    <div>Фамилия: {{ listik['sex']}} </div>
    <div>Фамилия: {{ listik['motivation']}} </div>
    <div>Фамилия: {{ listik['ready']}} </div>

{% endblock %}
